@model BL.DTO.StudentDTO

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.Surname)
        @Html.EditorFor(model => model.Surname)
    </div>
    <div>
        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
    </div>
    <div>
        @Html.LabelFor(model => model.Login)
        @Html.EditorFor(model => model.Login)
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
    </div>


    <input type="submit" value="Create" />
}