@model BL.DTO.AnswerDTO

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div>
        @Html.ValidationMessageFor(model => model.Text)
        @Html.EditorFor(model => model.Text)
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.IsRight)
        @Html.EditorFor(model => model.IsRight)
    </div>
   


    <input type="submit" value="Change" />
}
