@model Tuple<int, IEnumerable<BL.DTO.QuestionDTO>>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.Item1 })
</p>
<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th>
            Points
        </th>
        <th>
            Explanation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Item2) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Explanation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Answers", "Answers", new { id = item.Id }) 
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to thematic areas", "BackToThematicArea")
</p>
